# gin mode : debug, release, test
GIN_MODE=debug
GIN_PORT=8080

#DB
DB_HOST=localhost
DB_PORT=5432
DB_NAME=test-backend-developer-sagala
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_TZ=Asia/Jakarta

# database log levels: info, warn, error
DB_LOG_LEVEL=warn

#JWT
SECRET_KEY=secret
EXPIRED_TIME=60

#SALT PASSWORD
COST_PASSWORD=10

#MIGRATE
DB_MIGRATE=false